# macOS system files
.DS_Store

# Xcode specific files
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/
!default.xcworkspace
project.xcworkspace/
*.xcodeproj/*.pbxproj
*.xcodeproj/project.xcworkspace/
IDEWorkspaceChecks.plist

# Build products
build/
*.build/

# CocoaPods dependencies
Pods/

# Swift Package Manager files
.swiftpm/
Package.resolved

# Carthage dependencies
Carthage/Build

# Fastlane specific files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# General logs
*.log

# Temporary files
tmp/
